body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.img_logo_rm{
    height: 90px;
    
}
.img_sisfpc{
    height: 90px;
}
.img_QR_CODE{
    height: 130px; 
}

header{
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    color: #466C04;
    margin-bottom: 5px;
}
.slides{
    height: 400px;
    width:auto;
}
.paginas{
    margin: 5px;
    text-decoration: none;
    color: #466C04;

    
}
.paginas:hover {
    color: white;
    background-color:#466C04 ;
    size: 3px;
    cursor:pointer;
}